<mat-horizontal-stepper>
    <mat-step label="Datos del usuario">
        <form>

            <label>Pais: <input type="select" name="nombrecompleto"></label><br>
            <label>Pais: <input type="select" name="nombrecompleto"></label><br>
            <label>Pais: <input type="select" name="nombrecompleto"></label><br>
            <label>Pais: <input type="select" name="nombrecompleto"></label><br>  

          
          </form> 

          <button mat-button matStepperNext> Siguiente </button>

    </mat-step>
    
    <mat-step label="datos de usuario2">
        <p>datos de usuario2 detalles</p>   
        <div>
            <button mat-button matStepperPrevious> Atrás </button>
            <button mat-button matStepperNext> Siguiente </button>

        </div>     
    </mat-step>

    <mat-step label="datos de usuario final">
        <p>datos de usuario final detalles</p>  
        <button mat-button matStepperPrevious> Atrás </button>

    </mat-step>

</mat-horizontal-stepper>
